{% load static %}

<section class="section_home1_banner">
  <img loading="lazy" src="{% static 'website/assets/images/layer-top.svg' %}" alt="" class="home1_banner_layer" />
  <div class="padding-global padding-section-medium">
    <div class="container-small">
      <div class="home1_banner_wrap">
        <h2 animate="title">Lets'sBuild Something That Lasts</h2>
        <div animate="fade-up-2" class="text-size-medium text-weight-light">From design to delivery, we turn ideas into enduring spaces that inspire trust and stand the test of time.</div>
        <div animate="fade-up-3" class="button-group">
          <a button="" href="{% url 'divisions' %}" class="button is-secondary is-small w-inline-block">
            <div class="button-mask">
              <div button-text="" class="button-text">Explore Divisions</div>
              <div button-text="" class="button-text-hover">Explore Divisions</div>
            </div>
          </a><a button="" href="{% url 'contact' %}" class="button is-alternative is-small w-inline-block">
            <div class="button-mask">
              <div button-text="" class="button-text">Contact Us</div>
              <div button-text="" class="button-text-hover">Contact Us</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
